<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DouPHP 管理中心 - 网站管理员 </title>
    <meta name="Copyright" content="Douco Design."/>
</head>
<body>
    <div id="dcWrap">
        <form action="/admin/account/loginAjax" method="post">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="100" align="right">用户名</td>
                    <td>
                        <input type="text" name="userName" size="40" class="inpMain"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">密码</td>
                    <td>
                        <input type="password" name="password" size="40" class="inpMain"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="submit" class="btn" value="提交"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>